<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/custom.css' %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'blog:index' %}">Blog</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'blog:index' %}">Inicio</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'blog:posts' %}">Posts</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>