{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Criar um Post{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="conainer-fluid">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                <h1>Criar um Post</h1>
                            </div>
                        </div>
                        <hr>
                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset>
                                {% for field in form %}
                                {% if field.non_field_errors %}
                                    <div class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="{{ field.auto_id }}" class="col-lg-2 control-label">{{ field.label }}</label>
                                    <div class="col-lg-9">
                                        {% render_field field class='form-control' %}
                                    </div>
                                    {{ field.errors }}
                                </div>
                                {% endfor %}
                                <div class="col-md-12" align="center">
                                    <button type="submit" class="btn btn-success">Cadastrar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
