{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Editar um post{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="conainer-fluid">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                <h1>Editar um Post</h1>
                            </div>
                        </div>
                        <hr>
                        <form class="form-horizontal" method="post">
                            {% csrf_token %}
                            <fieldset>
                                {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.auto_id }}" class="col-lg-2 control-label">{{ field.label }}</label>
                                    <div class="col-lg-9">
                                        {% render_field field class='form-control' %}
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-md-12" align="center">
                                    <button type="submit" class="btn btn-success">Confirmar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}